<h1>Todo list</h1>

<main>
  <div class="form">
    <input
      type="text"
      [(ngModel)]="newTask"
      placeholder="Ajouter une tâche"
      (keyup.enter)="addTask()"
      aria-label="Nouvelle tâche"
    >
    <button (click)="addTask()" class="button button--primary">Ajouter</button>
  </div>

  @if (tasks.length === 0) {
    <p>Aucune tâche pour le moment.</p>
  } @else {
    <h2>Liste des tâche à faire</h2>
    <ul class="list">
      @for (task of tasks; track $index) {
        <li
          (click)="task.isDone = !task.isDone"
          [ngClass]="{'is-done' : task.isDone}"
          class="list__item"
        >
          {{ task.title }}
        </li>
      }
    </ul>
  }
</main>
