$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


$black-default: #0D0D0D;
$braun-primary: #59514D;
$braun-secondary: #8C8480;
$braun-light: #D9CBBA;
$light-default: #F2F2F2;